/*

Note - the CSS was built using a mobile first approach. so only the media 

*/
@import 'normalize';
@import 'animate';


/* SASS Variables
------------------------------------------- */


	/* Color Scheme
	-------------------------- */
	$red: red;
	$darkblue: #106FA8;
	$cleardarkblue: rgba(16,111,168, 0.9);
	$lightblue: #3D96CC;
	$lightgray: #F8F8F8;
	$clearlightblue: rgba(97,189,244, 0.3);
	$duskblue: #488DB6;
	$clearduskblue: rgba(72,141,182,0.9);
	$toadgreen: #08B599;
	$toadgreenclear: rgba(8,181,153,0.9);
	$orange: #F5AC49;
	$action: #F55818;
	$headertext: #002942;
	$fontStack: 'Open Sans', sans-serif;

	/* Font Sizes 
	---------------------------- */



/* SASS Mixins
--------------------------------------------- */

	/* Clearfix 
	----------------------- */
	@mixin clearfix {

		&::after {
			content: "";
			display: table;
			clear: both;
		}

	}


	/* Radial Gradient 
	----------------------- */
	@mixin blueGradient {

	background: rgb(210,235,249);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(210,235,249,1) 0%, rgba(254,255,255,1) 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(210,235,249,1) 0%,rgba(254,255,255,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(210,235,249,1) 0%,rgba(254,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ebf9', endColorstr='#feffff',GradientType=1 );

	}


	/* Transitions 
	--------------------------- */
	 @mixin transition($options) {

	 	-webkit-transition: $options;
	 	-moz-transition: $options;
	 	-o-transition: $options;
	 	transition: $options;

	 }

	 /* Transform 
	 -------------------------- */

	 @mixin transform($options) {

	 	-webkit-transform: $options ;
	 	-moz-transform: $options ;
	 	-ms-transform: $options ;
	 	-o-transform: $options ;
	 	transform: $options ;
	 }

	/* Keyframe aniamtions 
	----------------------------------------------------- */
	@mixin keyframes($name) {
		@-webkit-keyframes $name { @content	}
		@-moz-keyframes $name { @content }
		@-o-keyframes $name { @content }
		@keyframes $name { @content }
	}

	@mixin animation($options) {

		-webkit-animation: $options;
		-moz-aniamtion: $options;
		-o-animation: $options;
		animation: $options;
		
	}


	/* Animation properties */

	@mixin animationProperty($property, $value) {
		-webkit-animation-#{$property}: $value;
		-moz-aniamtion-#{property}: $value;
		-o-animation-#{property}: $value;
		animation-#{property}: $value

	}


	/* Helper Animations */


	@include keyframes(fadeIn) {
		from { 
				opacity: 0;
				@include transform(scale(0.95, 0.95));
			 }

		to { 
			opacity: 1;
			@include transform(scale(1, 1));
		}
	}
	





	/* Font Sizes - Typography
	---------------------------------- */

	@mixin headerContent {
		color: $darkblue;
		font-size: 3rem;
		margin: 0;
		padding: 30px 0px;

	}

	@mixin textContent {
		line-height: 1.5;
		font-size: 1.5rem;
		margin: 0;
		padding-bottom: 30px;
		letter-spacing: 0.1rem;
	}

	@mixin sectionHeader {
		display: block;
		width: 150px;
		font-size: 1.5rem;
		letter-spacing: 0.1rem;
		font-weight: bold;
		border-bottom: 4px solid $darkblue;
		padding-bottom: 5px;
	}


	/* Helper Mixins 
	----------------------- */

	@mixin imageContentLeft {
			position: relative;
			display: inline;
			top: 0px;
			left: -20px;
			float: left;
	}

	@mixin imageContentRight {
			position: relative;
			display: inline;
			top: 0px;
			right: -20px;
			float: right;
	}

	@mixin fullBackground {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}


	/* input items that are thin and use the same properties */
	@mixin thinput {
		padding: 15px;
		font-size: 1.5rem;
		line-height: 1;
		margin: 0;
		background-color: transparent;
		border: 1px solid $darkblue;
		color: $darkblue;
		box-sizing: border-box;

		.button-image {
			height: 1.5rem;
			width: 2rem;
			margin-left: 5px;
		}

	}



/* ------------------ Main.sass ------------------ */


body { 
	padding-top: 101px;
	position: relative;
	color: $headertext;
	font-family: $fontStack;
}



/* Bootstrap Override Styles 
---------------------------- */
.container-fluid.fluid-custom {
	position: relative;
	max-width: 1000px;
	margin: 0px auto;
}


/* General Styles
---------------------------- */


.center-wrap {
	position: relative;
	width: 100%;
	margin: 0px auto;

	@include clearfix;

}


/* Header & Navigation
---------------------------- */

.navbar {
	min-height: 100px;
}

.navbar-header {
	padding: 20px 0px 20px 20px;


	.navbar-brand {
		/*background-image: url('../img/insone_small.png');*/
		background-image: url('http://placehold.it/100x300');
		background-size: 200px 60px;
		background-repeat: no-repeat;

		/*border: 1px solid black;*/
		width: 200px;
	}
}



.navbar-wrap {

/*mobile styles */
	padding: 0;
	background-color: $lightgray;
	z-index: -1000;
	/*display: none;*/
	position: absolute;
	top: 100px;
	width: 100%;
	right: 0;
	/*display: inline-block;*/
	display: none;

	li {
		display: block;
		text-align: center;
		
		font-size: 2.0rem;
	}

	li a {
		display: block;
		padding: 40px 20px;
	}
}




/* Hamburger Manu */
.nav-menu-button {

	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
	padding: 28px 34px;
	height: 100px;
	box-sizing: border-box;
	/*padding: 20px 0px 20px 20px;*/


	.menu-button-bar {

		display: block;
		position: relative;
		background-color:$darkblue;
		height: 5px;
		margin: 5px 0px;
		@include transition(0.4s ease);

	}

	.menu-button-bar:nth-child(1) {
		@include transform(translate(0px, 0px));
	}

	.menu-button-bar:nth-child(3) {
		@include transform(translate(0px, 0px));
	}

	&:hover {

		/*@extend .nav-menu-active;*/
		cursor: pointer;
		background-color: $clearlightblue;


	}

}

.nav-menu-active {

	@include transition(0.4s ease);

	.menu-button-bar:nth-child(1) {
		@include transition(0.4s ease);
		@include transform(translate(0px, 10px) rotate(-135deg));
	}

	.menu-button-bar:nth-child(2) {
		
		@include transition(0.4s ease);
		@include transform(scaleX(0));

	}

	.menu-button-bar:nth-child(3) {
		@include transition(0.4s ease);
		@include transform(translate(0px, -10px) rotate(135deg));
	}

	& + .navbar-wrap {
		@include transition(0.4s ease);
		@include animation(fadeIn 0.4s ease);
		display: inline-block;
	}
}


/* Banner Image
----------------------------*/
.banner {

	display: block;
	position: relative;
	height: 650px;
	width: 100%;
	/*background-image: url('http://placehold.it/1100x600');*/
	background-image: url('../img/city_banner.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	box-sizing: border-box;


	.banner-content-box-one,
	.banner-content-box-two,
	.banner-content-box-three {
		background-color: $clearduskblue;
		box-sizing: border-box;
		padding: 20px 20px;
		display: inline-block;
		position: absolute;
		color: white;
	}

	.banner-content-box-one {
		top: 0;
		left: 0;
		height: auto;
		width: 350px;
		text-align: right;
	}

	.banner-content-box-two {
		text-align: center;
	    top: 215px;
	    width: 100%;
	    height: 300px;



	    animation-delay: 1s;

	    h1 { 
	    	@include headerContent;
	    	color: white;
	     }
	    p {	@include textContent; }
	    button { @include thinput; }
	}

	.banner-content-box-three {
		display: none;
		height: auto;
		width: 350px;
		right: 0;
		bottom: 0; 


	    h2 {

	    	@include headerContent;
	    	color: white;
	    }

	    p {	@include textContent; }
	    button { @include thinput; }

	}

}

.banner-section {
	@extend .banner;

	background-image: url('../img/sky-dock-people-ocean.jpg');
	@include fullBackground;
	height: 400px;


}


/* Main Content
----------------------------*/

.main-content-section {

	position: relative;
	padding: 20px 20px;
	border-bottom: 1px solid gray;

	@include clearfix;

	.content-section-img {
		display: block;
		position: relative;
		width: 100%;
		height: 300px;
		background-image: url('http://placehold.it/300x400');
		@include fullBackground;
	}

	.left-col,
	.right-col {
		display: block;
		position: relative;
		width: 100%;

		h2 {
			@include headerContent;
		}

		p {
			@include textContent;
		}
	}


}

/* Section 1 - Call and Contact
---------------------------------------- */


.contact-call-wrapper {


	position: relative;
	display: block;
	border-radius: 50%;

	.contact-header {

		position: absolute;
		left: 0;

		width: 100%;
		margin: 0px auto;
		padding: 30px 0px;
		/*border-bottom: 3px solid $cleardarkblue ;*/
		text-align: center;
		box-sizing: border-box;
		
		font-size: 2rem;
		letter-spacing: 0.1rem;
		
		z-index: 50; /*should always have the highest index */

	}

	.phone-image-wrap {

		#phone-image {
			position: relative;
			display: block;
			text-align: center;
			height: 300px;
			padding: 80px;
			margin: 0px auto;
			


		/* There is a glitch with the animation fix it */

		-moz-animation-duration: 15s;
		-webkit-animation-duration: 15s;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;

		}
	}


}

#contact-me-form {
	position: relative;
	margin-bottom: 10px;
	height: 50px;

	input, button {

		@include thinput;

		display: inline-block;
		vertical-align: top;
		width: 49%;
		height: 100%;

		
		

	}

	input { 
	}


	button {

		background-color: white;

		.button-image { 
    		display: none;
    	}

	}

}



/* Section 2 - Services
---------------------------- */

.services-content {

	h3 {
		@include sectionHeader;
	}
}

.services-button-wrapper {

	display: block;
	width: 100%;
	position: relative;
	
	img,
	p {
		width: 100%;
		text-align: center;
	}

	img {
		height: 110px;
		width: 100%;
		padding-top: 30px;
		display: block;
	}

	p {
		@include textContent;
		padding-top: 30px;
		text-align: center;
	}


	box-sizing: border-box;

	.services-button {
		display: inline-block;
		vertical-align: top;
		padding: 0px 10px;
		width: 25%;
		position: relative;
		margin-left: -3px;

		&:hover {
			cursor: pointer;
			background-color: $clearlightblue;
			@include transition(0.4s ease);
		}

	}

	.button-content-wrap {
		background-color: #FAFAFA;
		padding: 0px 20px;
	}

}


/* Section 3 - Carriers
---------------------------------------- */
.carrier-wrap {

	display: block;

	.carrier-image {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 50%;
		margin-left: -4px;
		padding: 3% 6%;

		img {
		 	display: block;
		 	position: relative;
		 	max-width:100%;
		 	height: atuo;
		 	margin: 0px auto;
		}

	}

}


/* Section 4 - contact
---------------------------------------- */
.contact-wrap {

	p { }
	h2 { }

	.contact-item {
		display: inline-block;
		width: 100%;

		vertical-align: top;

		button { @include thinput }
	}
}

/* Media Queries
----------------------------*/

/* ---------------------------- Break Point 1  --------------------------*/
/* Rgular Size Device Widths - This will be aplied after 
-------------------------------------------------------------------------- */
@media screen and (min-width: 625px) {

	.center-wrap {

			
		width: 620px;

		.left-col,
		.right-col {
			box-sizing: border-box;
			width: 50%;
			padding: 0px 20px;
			position: relative;
			display: inline-block;
			margin-right: -4px;
			vertical-align: top;
			
		}

		.left-col {	float: left; }
		.right-col { float: right;	}

	    .left-col.left-col-single {
			width: 100%;
		}

		.right-col.right-col-single {
			width: 100%;
		}


	}
}



/* ---------------------------- Break Point 2  --------------------------*/
/* Rgular Size Device Widths - This will be aplied after 
-------------------------------------------------------------------------- */
@media screen and (min-width: 925px) {

	/* Header and Navigation 
	---------------------------------- */

	.navbar-wrap {
		padding: 0;
		top: 0px;
		position: relative;
		display: inline;

		float: right;
		width: initial;

		li {display: inline-block;}

		li a { 
			padding: 40px 20px;
		}
	}


	/* Hamburger Manu */
	.nav-menu-button {
		display: none;
	}

	/* Banner Image
	---------------------- */

	.banner {

		.banner-content-box-one,
		.banner-content-box-three {
			box-sizing: border-box;
			padding: 20px;
			display: inline-block;
			position: absolute;
		}

		/*
		.banner-content-box-one {
			top: 0;
			left: 0;
			height: auto;
			width: 350px;
		}*/

		.banner-content-box-two {
		    top: 215px;
		    width: 400px;
		    height: 300px;

		    animation-delay: 1s;
		}

		.banner-content-box-three {
			height: auto;
			display: inline;
			width: 350px;
			right: 0;
			bottom: 0; 

		}

	}




	.main-content-section {
		padding: 50px 10px;
	}

		.center-wrap {
			
		width: 850px;

		.left-col,
		.right-col {
			box-sizing: border-box;
			width: 50%;
			padding: 0px 20px;
			position: relative;
			display: inline-block;
			margin-right: -4px;
			vertical-align: top;
			
		}

		.left-col {	float: left; }
		.right-col { float: right;	}

	    .left-col.left-col-single {
			width: 100%;
		}

		.right-col.right-col-single {
			width: 100%;
		}


	}



/* Section - Carriers
---------------------------------------- */
.carrier-wrap {

	display: block;
	padding: 0px 20px;

	h3 {
		@include sectionHeader;
	}

	.carrier-image {

		position: relative;
		display: inline-block;
		width: 33%;
		margin-left: -3px;
		padding: 25px 35px;

		img {
		 	display: block;
		 	position: relative;
		 	max-width:100%;
		 	height: atuo;
		 	margin: 0px auto;
		}

	}
	
}




/* Section - contact
---------------------------------------- */
.contact-wrap {

	p { }
	h2 { }

	.contact-item {
		width: 33%;
		margin-left: -4px;
		padding: 0px 10px;

		vertical-align: top;

		button { @include thinput }
	}
}


}


/* ---------------------------- Break Point 3  --------------------------*/
/* Rgular Size Device Widths - This will be applied after 
------------------------------------------------------------------------ */

@media screen and (min-width: 1200px) {


	/* General Styles (Wide) 
	------------------------------ */


	/* Header & Navigation (wide)
	---------------------------- */

	.navbar-header { float: left; }

	.navbar-wrap {
		padding: 0;
		top: 0px;
		position: relative;
		display: inline;

		float: right;
		width: initial;

		li {display: inline-block;}

		li a { 
			padding: 40px 20px;
		}
	}

	.nav-menu-button {	display: none; }

	/* Main Content (Wide)
	----------------------------*/

	.main-content-section {

		padding: 75px 20px;

		.content-section-img  {

			width: 50%;
			min-height: 420px;
			/*background-image: url('../img/life_ins_img.png');*/
			background-image: url('http://placehold.it/300x400');
			@include fullBackground;
		}


		.content-section-img.img-left {
			@include imageContentLeft;
		}

		.content-section-img.img-right {
			@include imageContentRight;
		}


	}

	.center-wrap {

		width: 1100px;

		.left-col,
		.right-col {
			box-sizing: border-box;
			width: 50%;
			padding: 0px 20px;
			position: relative;
			display: inline-block;
			margin-right: -3px;
			vertical-align: top;
			height: 300px;
		}

		.left-col {
			float: left;
		}
		.right-col {
			float: right;
		}


	    .left-col.left-col-single {
			width: 50%;
		}

		.right-col.right-col-single {
			width: 50%;
		}


	}


	/* Seciton 1 (Wide)
	----------------------------- */
	#contact-me-form {

		height: 50px;
		position: relative;

		input, button {
			display: inline-block;
			vertical-align: top;
			width: 49%;
			height:100%;
			padding: 15px;

		}


		input { 
			font-size: 1.5rem;
		}

		button {

			.button-image { 

	    		display: inline;
	    	}

		}

	}


/* Section 3 - Carriers
---------------------------------------- */
.carrier-wrap {

	display: block;

	.carrier-image {

		padding: 40px 50px;


	}

}

} /* Media query end */ 

/*@media screen and (min-widh)*/


/* Animations
--------------------- */


