body { padding-top: 101px; }


/* ------------------ INDEX.HTML ------------------ */


/* Bootstrap Override Styles 
---------------------------- */
.container-fluid.fluid-custom {
	max-width: 1200px;
	margin: 0px auto;
}


/* Header & Navigation
---------------------------- */

.navbar-header {
	padding: 20px 0px 20px 20px;
}

.navbar-brand {
	background-image: url('../img/insone_small.png');
	background-size: 200px 60px;
	background-repeat: no-repeat;

	/*border: 1px solid black;*/
	width: 200px;
}

.navbar-nav {
	padding: 0;
}

.navbar-nav li a {
	padding: 40px 20px;
}



/* Banner Image
----------------------------*/
.banner-image {
	display: block;
	position: relative;
	height: 650px;
	width: 100%;

	background-image: url('http://placehold.it/1100x600');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	box-sizing: border-box;
}


.banner-content-box-one,
.banner-content-box-two,
.banner-content-box-three {
	background-color: rgba(100,100,100,0.4);
	box-sizing: border-box;
	padding: 20px;
	display: inline-block;
	position: absolute;
}

.banner-content-box-one {
	top: 0;
	left: 0;
	height: auto;
	width: 350px;
}

.banner-content-box-two {
    left: 15%;
    top: 215px;

    width: 400px;
    height: 300px;
}

.banner-content-box-three {
	height: auto;
	width: 350px;
	right: 0;
	bottom: 0; 
}




/* Media Queries
----------------------------*/

@media screen and (max-width: 784px) {
/* This will be applied after 728px */

}

@media screen and (max-width: 768px) {
/* This will be applied before 768px */


/* Header & Navigation
---------------------------- */
	.navbar-nav li a {
		padding: 20px 20px;
	}
}