/*

Note - the CSS was built using a mobile first approach. so only the media 

*/
@import 'normalize';
@import 'animate';


/* SASS Variables
------------------------------------------- */


	/* Color Scheme
	-------------------------- */
	$red: red;
	$darkblue: #106FA8;
	$cleardarkblue: rgba(16,111,168, 0.9);
	$lightblue: #3D96CC;
	$duskblue: #488DB6;
	$orange: #F5AC49;
	$action: #F55818;
	$headertext: #002942;
	$fontStack: 'Open Sans', sans-serif;

	/* Font Sizes 
	---------------------------- */



/* SASS Mixins
--------------------------------------------- */

	/* Radial Gradient 
	----------------------- */
	@mixin blueGradient {

	background: rgb(210,235,249);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(210,235,249,1) 0%, rgba(254,255,255,1) 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(210,235,249,1) 0%,rgba(254,255,255,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(210,235,249,1) 0%,rgba(254,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ebf9', endColorstr='#feffff',GradientType=1 );

	}

	/* Keyframe aniamtions 
	----------------------------- */
	@mixin keyframes($name) {
		@-webkit-keyframes $name { @content	}
		@-moz-keyframes $name { @content }
		@-o-keyframes $name { @content }
		@keyframes $name { @content }
	}


	/* Font Sizes - Typography
	---------------------------------- */

	@mixin headerContent {
		color: $darkblue;
		font-size: 3rem;
		margin: 0;
		padding: 30px 0px;

	}

	@mixin textContent {
		line-height: 1.5;
		font-size: 1.5rem;
		margin: 0;
		padding-bottom: 30px;
		letter-spacing: 0.1rem;
	}

	/* Helper Mixins 
	----------------------- */

	@mixin imageContentLeft {
			position: relative;
			display: inline;
			top: 0px;
			left: -20px;
			float: left;
	}

	@mixin imageContentRight {
			position: relative;
			display: inline;
			top: 0px;
			right: -20px;
			float: right;
	}






/* ------------------ Main.sass ------------------ */


body { 
	padding-top: 101px;
	position: relative;
	color: $headertext;
	font-family: $fontStack;
}



/* Bootstrap Override Styles 
---------------------------- */
.container-fluid.fluid-custom {
	position: relative;
	max-width: 1000px;
	margin: 0px auto;
}


/* General Styles
---------------------------- */

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.center-wrap {
	position: relative;
	width: 100%;
	margin: 0px auto;

}


/* Header & Navigation
---------------------------- */

.navbar {
	min-height: 100px;
}

.navbar-header {
	padding: 20px 0px 20px 20px;


	.navbar-brand {
		background-image: url('../img/insone_small.png');
		background-size: 200px 60px;
		background-repeat: no-repeat;

		/*border: 1px solid black;*/
		width: 200px;
	}
}


.navbar-nav {

	padding: 0;
	display: none;
	li a { padding: 20px } 
}


/* Hamburger Manu */
.nav-menu-button {
	position: absolute;
	right: 0;
	top:0;
	box-sizing: border-box;
	width: 100px;
	padding: 28px 34px;
	height: 100%;
	/*padding: 20px 0px 20px 20px;*/

	.menu-button-bar {
		display: block;
		background-color:$darkblue;
		height: 5px;
		margin: 5px 0px;
	}
}


/* Banner Image
----------------------------*/
.banner {

	display: block;
	position: relative;
	height: 650px;
	width: 100%;
	/*background-image: url('http://placehold.it/1100x600');*/
	background-image: url('../img/city_banner.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	box-sizing: border-box;


	.banner-content-box-one,
	.banner-content-box-two,
	.banner-content-box-three {
		background-color: rgba(100,100,100,0.4);
		box-sizing: border-box;
		padding: 20px;
		display: inline-block;
		position: absolute;
	}

	.banner-content-box-one {
		top: 0;
		left: 0;
		height: auto;
		width: 350px;
	}

	.banner-content-box-two {
	    left: 15%;
	    top: 215px;

	    width: 400px;
	    height: 300px;

	    animation-delay: 1s;
	}

	.banner-content-box-three {
		height: auto;
		width: 350px;
		right: 0;
		bottom: 0; 
	}

}


/* Main Content
----------------------------*/

.main-content-section {
	position: relative;
	padding: 75px 20px;
	border-bottom: 1px solid gray;

	.content-section-img {
		display: block;
		position: relative;
		width: 100%;
		height: 300px;
		background-image: url('http://placehold.it/300x400');
		background-size: cover;
		background-position: center;
	}

	.left-col,
	.right-col {
		display: block;
		position: relative;
		width: 100%;

		h2 {
			@include headerContent;
		}

		p {
			@include textContent;
		}
	}


}

/* Section 1
------------------------ */


.contact-call-wrapper {


	position: relative;
	display: block;
	border-radius: 50%;

	.contact-header {

		position: absolute;
		left: 0;

		width: 100%;
		margin: 0px auto;
		padding: 30px 0px;
		/*border-bottom: 3px solid $cleardarkblue ;*/
		text-align: center;
		box-sizing: border-box;
		
		font-size: 2rem;
		letter-spacing: 0.1rem;
		
		z-index: 50; /*should always have the highest index */

	}

	.phone-image-wrap {

		#phone-image {
			position: relative;
			display: block;
			text-align: center;
			height: 300px;
			padding: 80px;
			margin: 0px auto;
			border-radius: 50%;

			animation-iteration-count: infinite;
			-webkit-animation-duration: 15s;

		}
	}


}

#contact-me-form {
	position: relative;
	margin-bottom: 10px;
	height: 50px;

	input, button {
		display: inline-block;
		vertical-align: top;
		width: 49%;
		height: 100%;
		padding: 15px;
		font-size: 1.5rem;
		line-height: 1;
		margin: 0;
		border: 1px solid $darkblue;
		color: $darkblue;
		box-sizing: border-box;

	}

	input { }

	button {

		background-color: white;

		.button-image { 
			height: 2.0rem;
    		width: 2.0rem;
    		margin-left: 10px;
    		display: none;
    	}

	}

}



/* Section 2
------------------------ */

.services-button-wrapper {

	display: block;
	width: 100%;
	position: relative;
	
	img,
	p {
		background-color: #FAFAFA;
		width: 100%;
		text-align: center;
	}

	img {
		height: 110px;
		width: 100%;
		padding: 30px;
		display: block;
	}

	p {
		@include textContent;
		padding-top: 30px;
		text-align: center;
		background-color: #FAFAFA;

	}


	box-sizing: border-box;

	.services-button {
		display: inline-block;
		vertical-align: top;
		padding: 0px 10px;
		width: 25%;
		position: relative;
		margin-left: -3px;
	}

}






/* Media Queries
----------------------------*/



/* ---------------------------- Break Point 1  --------------------------*/
/* Rgular Size Device Widths - This will be applied after 
-------------------------------------------------------------------------- */
@media screen and (min-width: 925px) {
		.center-wrap {
			
		width: 850px;

		.left-col,
		.right-col {
			box-sizing: border-box;
			width: 50%;
			padding: 0px 20px;
			position: relative;
			display: inline-block;
			margin-right: -4px;
			vertical-align: top;
			
		}

		.left-col {	float: left; }
		.right-col { float: right;	}

	    .left-col.left-col-single {
			width: 100%;
		}

		.right-col.right-col-single {
			width: 100%;
		}


	}


}


/* ---------------------------- Break Point 2  --------------------------*/
/* Rgular Size Device Widths - This will be applied after 
------------------------------------------------------------------------ */
@media screen and (min-width: 1200px) {


	/* General Styles (Wide) 
	------------------------------*/


	/* Header & Navigation (wide)
	---------------------------- */

	.navbar-header { float: left; }

	.navbar-nav {
		padding: 0;
		display: inline;
		float: right;
		li a { padding: 40px 20px; }
	}

	.nav-menu-button {	display: none; }


	/* Main Content (Wide)
	----------------------------*/

	.main-content-section {

		.content-section-img  {

			width: 50%;
			height: 400px;
			background-image: url('../img/life_ins_img.png');
			background-size: cover;
			background-position: center;
		}


		.content-section-img.img-left {
			@include imageContentLeft;
		}

		.content-section-img.img-right {
			@include imageContentRight;
		}


	}

	.center-wrap {

		width: 1100px;

		.left-col,
		.right-col {
			box-sizing: border-box;
			width: 50%;
			padding: 0px 20px;
			position: relative;
			display: inline-block;
			margin-right: -4px;
			vertical-align: top;
			height: 300px;
		}

		.left-col {
			float: left;
		}
		.right-col {
			float: right;
		}


	    .left-col.left-col-single {
			width: 50%;
		}

		.right-col.right-col-single {
			width: 50%;
		}


	}


	/* Seciton 1 (Wide)
	----------------------------- */
	#contact-me-form {

		height: 50px;
		position: relative;

		input, button {
			display: inline-block;
			vertical-align: top;
			width: 49%;
			height:100%;
			padding: 15px;

		}


		input { 
			font-size: 1.5rem;
		}

		button {

			.button-image { 

	    		display: inline;
	    	}

		}

	}

} /* Media query end */ 

/*@media screen and (min-widh)*/


/* Animations
--------------------- */


